ul {
    list-style-type: none;
}

li {
    padding: 5px 20px;
}

li.sharks {
    background-color: #006D75;
    color: white;
}

li.oilers {
    background-color: #FF4C00;
    color: white;
}

li.oilers-sharks {
    color: white;
	background: rgb(255,76,0);
	background: linear-gradient(90deg, rgba(255,76,0,1) 0%, rgba(255,76,0,1) 30%, black 45%, black 55%, rgba(0,109,117,1) 70%, rgba(0,109,117,1) 100%);
}

img.logo {
    height: 1em;
    margin: 0.2em;
}

.game_date {
    -webkit-min-logical-width: 100px;
}

@media (prefers-color-scheme: dark) {
   body {color:white; background-color:black;}

   .game_date {
       -webkit-min-logical-width: 100px;
       background-color: black;
       color:white;
   }
}
