ul {
    list-style-type: none;
}

li {
    padding: 5px 20px;
}

li.sharks {
    background-color: #006D75;
    color: white;
}

img.logo {
    height: 1em;
    margin: 0.2em;
}

.game_date {
    -webkit-min-logical-width: 100px;
}

@media (prefers-color-scheme: dark) {
   body {color:white; background-color:black;}

   .game_date {
       -webkit-min-logical-width: 100px;
       background-color: black;
       color:white;
   }
}
